<div>
  <input [(ngModel)]="query" placeholder="Search for actors" />
  <button (click)="searchActors(query)">Search</button>
</div>
<div *ngIf="actors.length > 0">
  <div *ngFor="let actor of actors">
    <a [routerLink]="['/actor', actor.id]">
      <img [src]="'https://image.tmdb.org/t/p/w200' + actor.profile_path" alt="{{ actor.name }}" />
      <h3>{{ actor.name }}</h3>
    </a>
    <p>{{ actor.knownForTitles }}</p>
    <button (click)="addFavorite(actor)">Add to Favorites</button>
  </div>
</div>
