<div *ngIf="movies.length > 0">
    <div class="movies-grid">
      <div *ngFor="let movie of paginatedMovies" class="movie-item">
        <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" alt="{{ movie.title }}" />
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.overview }}</p>
          <p>Release Date: {{ movie.release_date }}</p>
          <p>
            Popularity: 
            <ng-container *ngFor="let star of getStarRatingArray(movie.popularity)">
              <i *ngIf="star === 'full'" class="fas fa-star"></i>
              <i *ngIf="star === 'half'" class="fas fa-star-half-alt"></i>
              <i *ngIf="star === 'empty'" class="far fa-star"></i>
            </ng-container>
          </p>
        </div>
      </div>
    </div>
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  <div *ngIf="movies.length === 0">
    <p>No movies found for this actor.</p>
  </div>
  